/*------------------------------------------------------------------------+
|	NAVEGACION
+------------------------------------------------------------------------*/

   body {
         margin-left: auto;
         margin-right: auto;
   }

   #nav {   /* El ámbito de navegación */
         float:left;
         font-family:Verdana;
         font-size:12px;
         padding:10px;
         margin-right: 10px;
         background-color: rgba(0,0,255,0.4);
         border-radius:5px;
   }

   ul#nav_menu {  /* El ámbito de las opciones */
         margin: 0;
         padding: 0px;
   }

   ul#nav_menu li {  /* La opción */
         list-style-type: none;
   }

   ul#nav_menu a:link, a:visited {  /* Estatus normal: Opción enlazada y visitada */
         display: block;
         width: 100%;
         padding: 4px;
         color: #FFFFFF;
         text-align: left;
         text-decoration: none;
   }

   ul#nav_menu a:hover, a:active {  /* El cursor sobre la opción activa su fondo*/
         background-color:rgba(0,0,255,0.7);
   }

   .nav_titulo {  /* Título genérico de las opciones */
      font-family: Georgia;
      font-size: 14px;
      background: gray;
      color: white;
      padding: 4px 8px;
      border-radius: 4px;
      margin-bottom: 8px;
   }