#section{
    font-family:Verdana; 
    font-size:12px; 
    font-style:bold; 
    text-align:justify;
}

html,body{
  height: 100%;
  padding: 10px;
}

#titulo{font-family: palatino linotype; 
    font-size:18px; padding:2px; 
    width:250px; 
    text-align:left;
}